div.container {
	max-width: 1000px;
	min-width: 800px;
	margin: auto;
	margin-top: 50px;
}

td.red {
    color: red;
}

td.green {
    color: green;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }